#
#Sun Jun 21 07:43:52 PDT 2020
codename1.version=1.0
codename1.ios.appid=Q5GHSKAL2F.ca.weblite.diyremote
codename1.ios.debug.certificate=
codename1.j2me.nativeTheme=nbproject/nativej2me.res
codename1.ios.certificatePassword=
codename1.ios.debug.certificatePassword=
codename1.ios.release.certificate=
codename1.vendor=CodenameOne
codename1.ios.release.certificatePassword=
codename1.ios.certificate=
codename1.arg.ios.newStorageLocation=true
codename1.ios.provision=
codename1.ios.debug.provision=
codename1.icon=icon.png
codename1.rim.signtoolCsk=
codename1.ios.release.provision=
codename1.rim.signtoolDb=
codename1.mainName=DIYRemote
codename1.languageLevel=5
codename1.arg.android.statusbar_hidden=true
codename1.android.keystorePassword=codenameone*com
codename1.android.keystoreAlias=weblite
codename1.rim.certificatePassword=
codename1.arg.java.version=8
codename1.android.keystore=/Users/shannah/cn1_files/certs.cer/android-keystore.ks
codename1.arg.android.debug=true
codename1.displayName=DIYRemote
codename1.packageName=ca.weblite.diyremote
codename1.arg.android.release=false
codename1.arg.android.xpermissions=<uses-permission android\:name\="android.permission.TRANSMIT_IR" android\:required\="false" /><uses-feature android\:name\="android.hardware.consumerir" />
codename1.secondaryTitle=CodenameOne_Template
